.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/programação-image.jpg") no-repeat center
    center/cover;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.form {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(5px);
}

.text h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.text p {
  font-size: 16px;
  color: #555;
}

.formGroup {
  margin: 15px 0;
  text-align: left;
}

.formGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
  font-family: inherit;
}

.formGroup input:focus {
  border-color: #007bff;
  outline: none;
}

.textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px;
  font-family: inherit;
  line-height: 20px;
  transition: 0.3s;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.passwordContainer {
  position: relative;
}

.passwordSpan {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.link {
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: #007bff;
  margin-top: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.containerLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  .link {
    font-size: 12px;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: inherit;
}

.button:hover {
  background: #0056b3;
}

@media (max-width: 480px) {
  .form {
    width: 95%;
    padding: 20px;
  }

  .text h2 {
    font-size: 20px;
  }

  .text p {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
